body{background:#22c3aa;}
@font-face {
    font-family: 'bauhaus_93regular';
    src: url('bauhaus93-webfont.eot');
    src: url('bauhaus93-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hr2{
	border: 2px dashed #22c3aa;
	margin:20px 0;
}
.hr3{
	height:8px;
	border: 3px solid #22c3aa;
	border-left:0;
	border-right:0;
	margin:20px 0;
}
h1{
	font-size: 45px;
	line-height: 60px;
	text-align: center;
}
h2{
	font-size: 40px;
	line-height: 50px;
	color:#333;
	margin-bottom: 10px;
	font-weight:500;
	text-shadow:3px 3px 0 #aee2d9;
}
.wrap{
	width: 1200px;
	margin: 70px auto 0;
	background: #efefef;
	padding-top:20px;
	box-shadow:0 0 15px 3px #888;
}
/*回到顶部*/
#toTop{
	position:fixed;
	z-index: 100;
	bottom: 30px;
	right: 30px;
	display:none;
	cursor: pointer;
}
/*文字说明样式*/
.con-wrap .font{
	font-size: 1.2em;
	color: #444;
	line-height: 1.5em;
	background: #aee2d9;
	border-left:5px solid #22c3aa;
	padding:8px 0 8px 20px;
	margin-bottom: 20px;
	font-weight: 400;
}
.con-wrap{
	position:relative;
	z-index: 3;
	padding:0 60px;
}

/*回到顶部*/
#toTop{
	position:fixed;
	z-index: 100;
	bottom: 30px;
	right: 30px;
	display:none;
}

/*导航*/
.home-page{
	position:fixed;
	left:0;
	top: 0;
	width:100%;
	background: #22c3aa;
	color:#FFF;
	z-index: 9999;
}
.nav-wrap{
	width:100%;
}
.nav-wrap h1{
	font-family:'bauhaus_93regular';
}
.nav1{
	width:90%;
	height: 60px;
	margin: 0 auto;
}
.nav1 h1{
	line-height: 60px;
	cursor: pointer;
	color:#fff;
}
/*时钟*/
.nav1 ul li{
	width: 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family:'bauhaus_93regular';
	font-size: 32px;
	float:left;
	margin-top: 10px;
	transform: rotateX(0deg);
	transition: 0.2s all ease;
}
/*左右滑动*/
.glide .box{text-align: center;}
.glide input{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	background: #008000;
	color: #FFF;
	cursor: pointer;
}
.glide .ul1{
		position: relative;
		width: 380px;
		height:240px;
		margin: 60px auto 0;
		perspective: 900px;
	}
.glide .ul1 li{
	position:absolute;
	left: 0;
	top: 0;
	width:100%;
	opacity: 0;
	transition: 1s all ease;
}
.glide .ul1 li img{width:100%;}
.glide .ul1 li.cur{
	opacity: 1;
	z-index: 3;
}
.glide .ul1 li.l1{
	transform: translate(-260px) rotateY(60deg);
	opacity: 0.7;
	z-index:2;
}
.glide .ul1 li.l2{
	transform: translate(-360px) rotateY(80deg);
}
.glide .ul1 li.r1{
	transform: translate(260px) rotateY(-60deg);
	opacity: 0.7;
	z-index: 2;
}
.glide .ul1 li.r2{
	transform: translate(360px) rotateY(-80deg);
}
/*3D-图片环*/
.circular{
	width:100%;
	margin-bottom:30px;
}
.circular .box{text-align: center;}
.circular img{width:90%;}
/*多样式更换*/
.vary{overflow: hidden;}
.vary .btn{
	text-align: center;
}
.vary .btn input{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	background: #008000;
	color: #FFF;
	cursor: pointer;
}
.vary .box1{
	width:700px;
	height: 400px;
	background: #ccc;
	margin:10px auto;
	position:relative;
}
.vary .box1 span{
	position:absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.vary .box1 span i{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.vary .box1 span i:nth-child(1){
	background: url('../img/0.jpg') no-repeat;
	z-index: 1;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}
.vary .box1 span i:nth-child(2){
	background:url('../img/1.jpg') no-repeat;
	transform:scale(-1,1);
}
.vary .box2{
	width:700px;
	height:400px;
	background:url(../img/0.jpg) no-repeat;
	margin: 10px auto;
	position:relative;
	transform-style:preserve-3d ;
}
.vary .box2 span{
	position: absolute;
}
.vary .box3{
	position:relative;
	width: 700px;
	height: 400px;
	background: url('../img/0.jpg');
	margin:10px auto;
}
.vary .box3>div{
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:100%;
}
.vary .box3 .page{
	transform-origin: left center;
	transform-style: preserve-3d;
	z-index: 1;
}
.vary .box3 .page>div{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
}
.vary .box3 .page .zheng{
	z-index: 2;
	background: url('../img/0.jpg') no-repeat top right;
	backface-visibility: hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
}
.vary .box3 .page .fan{
	z-index: 1;
	background: url('../img/1.jpg') no-repeat top left;
	transform:scale(-1,1);
}
.vary .box3 .page2{
	background:url('../img/1.jpg') no-repeat top right;
}
.vary .box4{
	width:700px;
	height:400px;
	margin: 10px auto;
	overflow: hidden;
}
.vary .box5{
	width:700px;
	height:400px;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	position:relative;
}
.vary .box5 li{
	position:absolute;
	left:0;
	top:0;
	width:700px;
	height:400px;
}
.vary .box5 .left{
	transform:translateX(-350px) rotateY(-90deg);
}
.vary .box5 .right{
	transform:translateX(350px) rotateY(90deg);
}
.vary .box5 li:nth-child(2){
	transform: translateZ(350px);
}
/*变幻线*/
canvas{
	background:#000;
	margin:0 80px 30px;
}

/*svg钟表*/
.clock .second,.clock .minute,.clock .hour{
	stroke:rgb(85,170,255);
	stroke-width:5;
	stroke-linecap:round;
}
.clock .second{stroke: rgba(255,0,0,0.8);}
.clock .minute{stroke: rgba(0,255,0,0.8);}
.clock .hour{stroke: rgba(0,0,255,0.8);}
.clock .line{
	stroke-width:5;
	stroke-linecap:round;
}
.clock text{
	stroke: #22c3aa;
	stroke-width:3;
	font-size:20px;
}


























































